

.certifications{
    padding:120px 8%;
}

.cert-header{
    text-align:center;
    max-width:900px;
    margin:auto;
    margin-bottom:80px;
}

.cert-badge{
    display:inline-block;
    padding:10px 20px;

    border-radius:999px;

    border:1px solid rgba(255,255,255,.08);

    background:rgba(255,255,255,.03);

    color:#B923E1;

    font-size:12px;
    letter-spacing:3px;
}

.cert-header h1{
    margin-top:25px;

    font-size:78px;
    font-weight:800;

    line-height:1.1;

    color:white;
}

.cert-header h1 span{
    background:linear-gradient(
        267deg,
        #DA7C25,
        #B923E1
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.cert-header p{
    margin-top:25px;

    color:#9ca3af;

    font-size:22px;

    line-height:1.8;
}

.cert-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.cert-card{
    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:28px;

    padding:30px;

    transition:.4s ease;
}

.cert-card:hover{
    transform:translateY(-10px);

    border-color:#B923E1;

    box-shadow:0 0 30px rgba(185,35,225,.15);
}

.cert-number{
    color:#B794F6;

    font-size:24px;

    font-weight:700;
}

.cert-card h3{
    margin-top:20px;

    color:white;

    font-size:30px;

    font-weight:700;
}

.cert-card h4{
    margin-top:15px;

    color:#B794F6;

    font-size:18px;
}

.cert-card p{
    margin-top:20px;

    color:#b3b3b3;

    line-height:1.8;

    font-size:17px;
}

.cert-btn{
    margin-top:25px;

    padding:12px 18px;

    border-radius:999px;

    border:1px solid rgba(185,35,225,.4);

    background:rgba(185,35,225,.08);

    color:#c084fc;

    font-size:12px;

    letter-spacing:2px;

    cursor:pointer;

    transition:.3s;
}

.cert-btn:hover{
    background:#B923E1;
    color:white;
}

@media(max-width:992px){
    .cert-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){

    .certifications{
        padding:100px 20px;
    }

    .cert-header h1{
        font-size:48px;
    }

    .cert-header p{
        font-size:18px;
    }

    .cert-grid{
        grid-template-columns:1fr;
    }
}