


.coding{
    padding:120px 8%;
}

.coding-header{
    text-align:center;
    max-width:850px;
    margin:auto;
    margin-bottom:80px;
}

.coding-badge{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);
    background:rgba(255,255,255,.03);
    color:#b794f6;
    font-size:12px;
    letter-spacing:3px;
}

.coding-header h1{
    margin-top:30px;
    font-size:72px;
    color:white;
    line-height:1.1;
}

.coding-header span{
    color:#B923E1;
}

.coding-header p{
    margin-top:25px;
    color:#a1a1aa;
    font-size:22px;
    line-height:1.8;
}

.coding-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.coding-card{
    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);
    border-radius:30px;
    backdrop-filter:blur(20px);
    padding:35px;
    transition:.4s;
    position:relative;
    overflow:hidden;
}

.coding-card:hover{
    transform:translateY(-10px);
    border-color:#B923E1;
    box-shadow:0 0 40px rgba(185,35,225,.15);
}

.coding-card::before{
    content:"";
    position:absolute;
    top:-100px;
    right:-100px;
    width:220px;
    height:220px;
    border-radius:50%;
    background:#B923E1;
    opacity:.08;
    filter:blur(100px);
}

.coding-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.platform-badge{
    padding:10px 18px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);
    color:#b794f6;
    font-size:12px;
    letter-spacing:2px;
}

.visit-btn{
     width:42px;
    height:42px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.08);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    font-size:20px;

    position:relative;
    z-index:100;
    cursor:pointer;

    background:rgba(255,255,255,.03);
    transition:all .35s ease;
}


.visit-btn:hover{
    transform:translateY(-4px) scale(1.1);

    background:linear-gradient(
        267deg,
        #Da7c25,
        #B923E1
    );

    border-color:#B923E1;

    box-shadow:
        0 0 20px rgba(185,35,225,.5),
        0 0 40px rgba(185,35,225,.2);

    color:white;
}


.visit-btn:active{
    transform:scale(.92);
}

.coding-card h3{
    margin-top:25px;
    color:white;
    font-size:34px;
}

.achievement-box{
    margin-top:25px;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:25px;
}

.achievement-box h4{
    color:#c084fc;
    letter-spacing:3px;
    font-size:13px;
    margin-bottom:15px;
}

.achievement-box li{
    color:#d4d4d4;
    line-height:1.8;
    margin-bottom:10px;
}

.coding-tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:25px;
}

.coding-tags span{
    padding:10px 16px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);
    color:#d1d5db;
    font-size:14px;
}

@media(max-width:768px){

    .coding{
        padding:100px 20px;
    }

    .coding-grid{
        grid-template-columns:1fr;
    }

    .coding-header h1{
        font-size:48px;
    }

    .coding-header p{
        font-size:18px;
    }

    .coding-card h3{
        font-size:28px;
    }
}