


.about-section{
    padding:120px 8%;
}

.about-badge{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);
    background:rgba(255,255,255,.03);
    color:#b794f6;
    letter-spacing:3px;
    font-size:12px;
    margin-bottom:40px;
}

.about-grid{
    display:grid;
    grid-template-columns:1.4fr .9fr;
    gap:60px;
    align-items:start;
}

.about-content h1{
    font-size:70px;
    line-height:1.05;
    color:white;
    margin-bottom:35px;
}

.about-content h1 span{
    color:#B923E1;
}

.about-content p{
    color:#a1a1aa;
    font-size:20px;
    line-height:1.9;
    margin-bottom:25px;
}

.about-highlights{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.highlight-item{
    display:flex;
    gap:18px;
    align-items:flex-start;
}

.icon{
    width:48px;
    height:48px;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(185,35,225,.12);
    font-size:22px;
}

.highlight-item h4{
    color:white;
    font-size:22px;
    margin-bottom:6px;
}

.highlight-item p{
    font-size:17px;
    margin:0;
}

.quick-facts{
    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border-radius:30px;
    padding:35px;
}

.quick-facts h3{
    color:white;
    font-size:34px;
    margin-bottom:30px;
}

.fact{
    display:flex;
    justify-content:space-between;
    padding:18px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.fact span{
    color:#9ca3af;
}

.fact strong{
    color:white;
    text-align:right;
}

.about-btn{
    margin-top:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
    border-radius:999px;
    text-decoration:none;
    color:white;
    font-weight:600;
    background:linear-gradient(
        267deg,
        #DA7C25,
        #B923E1
    );
}

@media(max-width:768px){

    .about-grid{
        grid-template-columns:1fr;
    }

    .about-content h1{
        font-size:48px;
    }

    .about-content p{
        font-size:18px;
    }

    .fact{
        flex-direction:column;
        gap:8px;
    }
}