

.contact{
    padding:120px 8%;
}

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    border-radius:40px;

    overflow:hidden;

    backdrop-filter:blur(20px);
}

/* LEFT */

.contact-left{
    padding:50px;
}

.contact-badge{
    display:inline-block;

    padding:10px 20px;

    border-radius:30px;

    border:1px solid rgba(255,255,255,.08);

    background:rgba(255,255,255,.03);

    color:#c084fc;

    font-size:12px;

    letter-spacing:3px;
}

.contact-left h1{
    margin-top:30px;

    font-size:60px;

    line-height:1.1;

    color:white;
}

.contact-left p{
    margin-top:25px;

    color:#a1a1aa;

    font-size:20px;

    line-height:1.8;
}

.contact-details{
    margin-top:40px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-card{
    display:flex;
    align-items:center;
    gap:20px;

    padding:22px;

    border-radius:20px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);
}

.info-card img{
    width:22px;
    height:22px;
}

.info-card span{
    color:#8b8b95;

    font-size:12px;

    letter-spacing:2px;
}

.info-card h4{
    margin-top:5px;

    color:white;

    font-size:18px;
}

/* RIGHT */

.contact-right{
    padding:50px;

    border-left:1px solid rgba(255,255,255,.08);

    display:flex;
    flex-direction:column;
    gap:25px;
}

.row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.field{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.field label{
    color:#d4d4d4;

    font-size:15px;
}

.field input,
.field textarea{
    border:1px solid rgba(255,255,255,.08);

    background:rgba(255,255,255,.03);

    border-radius:14px;

    padding:18px;

    color:white;

    font-size:16px;

    outline:none;

    transition:.3s;
}

.field input:focus,
.field textarea:focus{
    border-color:#B923E1;
}

.contact-submit{
    border:none;

    padding:18px;

    border-radius:50px;

    background:linear-gradient(
      90deg,
      #8B5CF6,
      #D946EF
    );

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.contact-submit:hover{
    transform:translateY(-3px);
}

/* MOBILE */

@media(max-width:768px){

.contact{
    padding:100px 20px;
}

.contact-wrapper{
    grid-template-columns:1fr;
}

.contact-left,
.contact-right{
    padding:30px;
}

.contact-right{
    border-left:none;
    border-top:1px solid rgba(255,255,255,.08);
}

.contact-left h1{
    font-size:42px;
}

.contact-left p{
    font-size:16px;
}

.row{
    grid-template-columns:1fr;
}

.info-card h4{
    font-size:15px;
}

.field input,
.field textarea{
    width:100%;
}

}