

.footer{
    padding:120px 8% 40px;
}

.footer-grid{
    display:grid;
    grid-template-columns:
    1.5fr
    1fr
    1fr
    1fr;

    gap:80px;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-box{
    width:48px;
    height:48px;

    border-radius:14px;

    background:linear-gradient(
      135deg,
      #8b5cf6,
      #d946ef
    );

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:700;
    color:white;
}

.footer-logo h2{
    color:white;
    font-size:34px;
}

.footer-brand p{
    margin-top:30px;

    color:#a1a1aa;

    font-size:20px;
    line-height:1.8;

    max-width:350px;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.footer-social a{
    width:48px;
    height:48px;

    border-radius:50%;

    border:1px solid rgba(255,255,255,.08);

    display:flex;
    align-items:center;
    justify-content:center;

    color:#d4d4d4;
    text-decoration:none;

    transition:.3s;
}

.footer-social a:hover{
    transform:translateY(-5px);
    border-color:#B923E1;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.footer-column h3{
    color:white;
    font-size:28px;
    margin-bottom:10px;
}

.footer-column a,
.footer-column p{
    color:#a1a1aa;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

.footer-column a:hover{
    color:#c084fc;
}

.footer-bottom{
    margin-top:80px;
    padding-top:30px;

    border-top:1px solid rgba(255,255,255,.08);

    display:flex;
    justify-content:space-between;

    color:#71717a;

    font-size:18px;
}

@media(max-width:768px){

    .footer{
        padding:80px 20px 30px;
    }

    .footer-grid{
        grid-template-columns:1fr;
        gap:50px;
    }

    .footer-logo h2{
        font-size:28px;
    }

    .footer-brand p,
    .footer-column a,
    .footer-column p{
        font-size:16px;
    }

    .footer-column h3{
        font-size:22px;
    }

    .footer-bottom{
        flex-direction:column;
        gap:15px;
        text-align:center;
        font-size:14px;
    }
}